.navbar {
	background-color: #2C3E50;
}

.verde {
    background-color: #58FA58;
}

.verde:hover {
    background-color: #2EFE2E;
}

.rojo {
    background-color: #FE2E2E;
}

.rojo:hover {
    background-color: #FF0000;
}

#myInput {
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 15px 12px 10px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#myTable,#tablaLibros,#tablaPrecio {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

#myTable {
    font-weight: bold;
    color: black;
}

#myTable th, #myTable td,#tablaPrecio th, #tablaPrecio td,#tablaLibros th, #tablaLibros td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

#myTable tr,#tablaLibros tr,#tablaPrecio tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

#myTable tr.header,#tablaPrecio tr.header, #tablaPrecio tr:hover,#tablaLibros tr.header, #tablaLibros tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}

#tablaPrecio {
    margin-top: 10px;
}

.glyphicon-plus-sign {
    color: grey;
}
.glyphicon-plus-sign:hover {
    color: black;
    cursor: pointer;
}