@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400');

html, body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	font-size: 12pt;
	font-family: 'Roboto Mono', monospace;
}

.formulario {
	margin-top: 50px;
	.vista-previa {
		// border: 1px solid black;
		text-align: center;

		img {
			height: 500px;
			width: 320px;
			border: 1px solid black;
		}
	}

	form {
		margin-bottom: 100px;
		// background-color: red;

		font-size: 14pt;
		.labels {
			text-align: right;
			padding-right: 0px;

			label {
				// border: 1px solid black;
				margin-top: 20px;
				padding: 0px 0px 4px 0px;
			}
		}

		.inputs {
			// border: 1px solid black;
			text-align: left;

			input, textarea, select {
				margin-top: 10px;
				font-size: 14pt;
			}


		}
		
		.bootstrap-tagsinput {
			width: 100% !important;
			height: 6em;
			margin-top: 25px;
		}
		

		button {
			font-size: 14pt;
			margin-top: 30px;
			float: right;
		}
		

		.err-msg {
			margin: 0 auto;
			height: 50%;
			width: 50%;
			font-size: 12pt;
			margin-top: 2px;
			margin-bottom: 5px;
			background-color: #FFC1C1;
			border: 1px solid #FF5050;
			display: none;
		}

		.input-err {
			border: 1px solid #FF5050;
			background-color: #FFC1C1;
		}
		
		input[type="file"] {
			//position: absolute;
		}
	}

	a {
		color: black;
		text-decoration: underline;
		font-size: 14pt;
	}
}

.vista-previa {
	border: 1px solid black; 
}


.footer {
	background: none; 
	background-color: #777777;
	height: 35%;
	padding-top: 80px;
	color: white;

	a {
		color: white;
		text-decoration: underline;
	}
}