@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400');
@blue: #2C3E50;
@green: #18BC9C;

html, body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	font-size: 12pt;
	font-family: 'Roboto Mono', monospace;
}

.formulario {

	margin-top: 50px;
	.preview {
		border: 2px dashed black; 
		height:400px; 
	}

	.subir {
		text-align: center; 
	}

	.preview {
		text-align: center; 

		img {
			height: 390px; 
			width: auto; 
			max-width: 280px; 
			margin: auto; 
		}
	}

	form {
		margin-bottom: 100px;
		// background-color: red;

		font-size: 14pt;
		.labels {
			text-align: right;
			padding-right: 0px;

			label {
				// border: 1px solid black;
				margin-top: 20px;
				padding: 0px 0px 4px 0px;
			}
		}

		.inputs {
			// border: 1px solid black;
			text-align: left;

			input, textarea, select {
				margin-top: 10px;
				font-size: 14pt;
			}


		}
		
		.bootstrap-tagsinput {
			width: 100% !important;
			height: 6em;
			margin-top: 25px;
		}
		

		button {
			font-size: 14pt;
			margin-top: 30px;
			background: @green; 
			float: right;
		}
		

		.err-msg {
			margin: 0 auto;
			height: 50%;
			width: 50%;
			font-size: 12pt;
			margin-top: 2px;
			margin-bottom: 5px;
			background-color: #FFC1C1;
			border: 1px solid #FF5050;
			display: none;
		}

		.input-err {
			border: 1px solid #FF5050;
			background-color: #FFC1C1;
		}
		
		input[type="file"] {
			//position: absolute;
		}
	}

	a {
		color: black;
		text-decoration: underline;
		font-size: 14pt;
	}
}

.footer {
	background: none; 
	background-color: #777777;
	height: 35%;
	padding-top: 80px;
	color: white;

	a {
		color: white;
		text-decoration: underline;
	}
}

.modal {

	.botones {
		background-color: red;
	}

	.modal-dialog {
		width: 52em;
		// height: fit-content;
	}

	.modal-content {
		padding: 10px 40px 10px 40px;

	}
	
	h4 {
		margin-top: -10px;
	}

	.libro {
		margin: 0 auto;
		margin-top: 30px;
		// width: fit-content;
		.book-cover {
			img {
				float: right;
				height: 260px;
				width: 180px;
			}
		}

		.info {
			p {
				font-size: 16pt;
				margin: 5 0 0 0;
			}

			.btn {
				margin-top: 10px;
			}
		}

		.total {
			border: 1px solid black;
			  text-align: right;
		}
	}
	
	.pedido {
		margin-top: 30px;
		padding: 10px 10px 10px 10px;
		border: 2px solid black;
		text-align: justify;
		
		a.reportar {
			text-decoration: underline;
		}

		button {
			margin: 0 auto;
			background-color: #D2D2D2;
			
		}
	}

}


ul.ui-autocomplete.ui-menu {
	font-family: 'Roboto Mono', monospace;
	background: white;
	color: black;
	width: 15em;
	font-size: 1.1em;	
}

.tt-query, /* UPDATE: newer versions use tt-input instead of tt-query */
.tt-hint {
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.tt-query { /* UPDATE: newer versions use tt-input instead of tt-query */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
}

.tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}
