@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400');
@green: #18BC9C;

html, body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	font-size: 12pt;
	font-family: 'Roboto Mono', monospace;
}

form {
	margin: 0 auto;
	margin-top: 40px;
	font-size: 17pt;
	width: 50%;
	
	h1 {
		margin-bottom: 0px;
	}

	h3 {
		margin-top: 0px;
		margin-bottom: 20px;
	}

	.form-control {
		font-size: 14pt;
	}

	input[type="text"],  select {
		// background-color: #FFFCB7;
		margin-bottom: 15px;
	}
	
	#correo-existe {
		display: inline-block;
	}

	label {
		font-size: 17pt;
		font-weight: normal;
	}
	
	button[type="submit"] {
		margin-top: 10px;Colonia
		margin-bottom: 110px;
		font-size: 14pt;
		float: right;
		background-color: @green;
	}

	p {
		font-size: 12pt;
	}
}