@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400');
@blue: #2C3E50;
@green: #18BC9C;

html, body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	font-size: 12pt;
	font-family: 'Roboto Mono', monospace;
}

h2 {
	// margin-bottom: 30px;
}
#cambiar-portada, #cambiar-perfil {
	background-color: @green;
}

#eliminar {
	float: right;
}


.fotos {
	// height: 80%;
	// width: 100%;
	padding: 0;
	

  #box {
		margin: 0 auto;
		background-color: rgba(255, 255, 255, 0.8);
		width: fit-content;
		padding: 20px 30px 10px 30px;
		margin-top: 20px;
		margin-bottom: 20px;
		text-align: center; 

		h2 {
			margin-bottom: 0px;
		}
		

		p {
			font-size: 14pt;
			margin: 0;
		}
		.circle {
			height: 200px;
			width: 200px;
			border-radius: 100%;
			margin: 0 auto;
			background: url(../img/libreria.jpg) no-repeat no-repeat center center;
			background-size: 100% 100%;
			margin-bottom: 10px;
		}

		.hl {
			width: 210px;
			margin: 0 auto;
			height: 2px;
			background-color: #8A8A8A;
		}

		.redes-sociales {
			margin-top: 10px;
			img {
				margin-left: 10px;
			}
		}
	}

	#cambiar-portada, #guardar-portada, #cancelar-portada {
		margin-bottom: 20px;
	}

}

#eliminar {
	margin-bottom: 20px;
}
table {
	
	.foto.perfil {
		border: 1px solid black;

		img {
			width: 5em;
		}
	}
	.value {
		color: #969696;
	}

	.err-msg {
		color: #FF7A7A;
	}

	button {
		background-color: @green !important;
		border-color: @green !important;
		margin-left: 3px; 
	}
}



.footer {
	background: none; 
	background-color: #777777;
	height: 35%;
	padding-top: 80px;
	color: white;

	a {
		color: white;
		text-decoration: underline;
	}
}

#form-info {
	input {
		color: black; 
	}
}
