@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');
@blue: #2C3E50;
@green: #18BC9C;

html, body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	font-size: 12pt;
	font-family: 'Roboto Mono', monospace;
}

.container {
	margin-top: 100px;
}
