@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');

html, body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	font-size: 12pt;
	font-family: 'Roboto Mono', monospace;
}

li.active {
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #EFEFEF;
    color: black;
}


.navbar-default {
	background-color: white;
	-webkit-box-shadow: 0px 1px 9px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 1px 9px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 1px 9px 0px rgba(50, 50, 50, 0.75);
}

.row-fluid {height: 100%; display:table-cell; vertical-align: middle;}
.centering {
  float:none;
  margin: 0 auto;
}


h1, h2 {
	font-weight: bold;
}

.container-fluid {
	height:100%;
	display:table;
	width: 100%;
	padding: 0;
	background: url(../img/coverImage.jpg) no-repeat no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

	h1 {
		font-family: 'Playfair Display', serif;
		font-weight: bold;
		font-size: 3em;
	}

	h1, h2 {
	  	background-color: rgba(0, 0, 0, 0.6);
	  	color: white;
	  	width: -moz-fit-content;
	    width: -webkit-fit-content;
	    width: fit-content;
	    margin: auto;
  	}
 	
 	h2 {
 		font-size: 2em;

 	}

 	#buscar {
 		margin-top: 10px;
		font-size: 2em;
		
		.btn-default {
			color: ;
			background: ;
			font-size: 23px;
			border: none;
			border-radius: 0%;
		}
 		input[type="text"] {
			background: rgba(0, 0, 0, 0.6);
			border: none;
			color: white;

 		}
 	}
}

.container {

	#lo_que_hacemos {
		width: 90%;
		margin: 0 auto;
		margin-bottom: 50px;
		margin-top: 40px;
		
		
		.card {
			margin-bottom: 10px;

			img {
				width: 220px;
				height: 350px;
			}
		}

		.texto {
			margin: 0 auto;
			width: 220px;
		}

	}
}


#librerias {

	background: url(../img/books.jpg ) no-repeat no-repeat center center;
	background-size: 100% 100%;
	height: fit-content;
	//font-size: 100%;

	#ver_catalogo {
		margin-top: 340px; 
		margin-bottom: 20px;
		position: relative;
	}

	h2 {
		margin-top: 20px;
	}
	
	.carousel {
		position: absolute;
		width: 80%;
		height: 70%;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		margin-top: 20px;
	}

	#box {
		margin: 0 auto;
		background-color: #F1F1F1;
		width: fit-content;
		padding: 0px 50px 10px 50px;

		.circle {
			height: 170px;
			width: 170px;
			border-radius: 100%;
			margin: 0 auto;	
			background-size: 100% 100%;
		}

		button {
			color: white;
			background-color: #A5A5A5;
		}
	}
	#next:hover, #prev:hover {
		background: rgba(0, 0, 0, 0.1);
	}

	#prev {
		position: absolute;
		cursor: pointer;
		margin-top: 70px;
	}

	#next {
		position: absolute;
		cursor: pointer;
		margin-top: 70px;
		left: 88%;
	}
} 

.ultimos-libros {

	margin: 0 auto;
	width: 90%;
	
	h2 {
		margin-bottom: 40px;
	}

	.thumbnail {
		padding: 0px 0px 0px 0px;
		text-align: center;
	}
	
	.libro:hover {
		-webkit-transition: all 300ms ease;
		-moz-transition: all 300ms ease;
		-ms-transition: all 300ms ease;
		-o-transition: all 300ms ease;
		transition: all 300ms ease;
		background-color: #ECECEC;
		cursor: pointer;
	}

	.libro {
		border: none;
		-webkit-transition: all 300ms ease;
		-moz-transition: all 300ms ease;
		-ms-transition: all 300ms ease;
		-o-transition: all 300ms ease;
		transition: all 300ms ease;

		.info{

			margin: 0 auto;
			margin-top: 10px;
			text-align: left;
			width: 180px;
		}

		img.book-cover {
			width: 180px;
			height: 260px;
		}
		
		p, a {
			font-size: 15pt;
		}

		.book-title {
			font-weight: bold;
		}

		a.book-author {
			color: black;
			text-decoration: underline;
		}

	}

	button {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

.btn-ver {
	border: 1px solid black;
	font-weight: bold;
}
.hl {
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	height: 2px;
	width: 80%;
	background: #9E9E9E;
}

#footer-hl {
	margin-top: 60px;
}


.footer {
	a {
		color: black;
		text-decoration: underline;
	}

	.nav {
		margin: 0 auto;
		text-align: left;
		width: 50%;
	}

}

